MasterSystem/MasterSystem/bin/
MasterSystem/MasterSystem/obj/
MasterSystem/MasterSystem/packages/
MasterSystem/MasterSystem/riderModule.iml
MasterSystem/MasterSystem/_ReSharper.Caches/
MasterSystem/MasterSystem/.idea/
MasterSystem/.idea/