MasterSystem/MasterSystem/bin/
MasterSystem/MasterSystem/obj/
MasterSystem/MasterSystem/packages/
MasterSystem/MasterSystem/riderModule.iml
MasterSystem/MasterSystem/_ReSharper.Caches/
MasterSystem/MasterSystem/.idea/
MasterSystem/.idea/
MasterSystem/SlaveSystem/bin/
MasterSystem/SlaveSystem/obj/
MasterSystem/SlaveSystem/packages/
MasterSystem/SlaveSystem/riderModule.iml
MasterSystem/SlaveSystem/_ReSharper.Caches/
MasterSystem/SlaveSystem/.idea/
MasterSystem/.idea/